#
# Rust and cargo specific files
#
Cargo.lock
**/*.rs.bk
/target/

#
# Editors and IDEs
#
/.vscode/
*.sublime-*

#
# Project specific
#

# Sometimes bindgen generated code is dumped here for inspection and debugging.
generated_code*.rs